<!doctype html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>经验分享</title>
<meta name="keywords" content="经验分享" />
<meta name="description" content="经验分享" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="Page/css/base.css" rel="stylesheet">
<link href="Page/css/index.css" rel="stylesheet">
<link href="Page/css/m.css" rel="stylesheet">
<link href="Page/css/custom.css" rel="stylesheet">
<link href="Page/layui/css/layui.css" rel="stylesheet">
<script src="Page/js/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript" src="Page/layui/layui.js "></script>
<script type="text/javascript" src="Page/js/jquery.cookie.js"></script>

<!--[if lt IE 9]>
<script src="Page/js/modernizr.js"></script>
<![endif]-->
<script type="text/javascript">
	/* 引入element模块，导航栏二级菜单需要 */
	layui.use([ 'element', 'jquery', 'layer' ], function() {
		var element = layui.element, //导航的hover效果、二级菜单等功能，需要依赖element模块
		$ = layui.jquery, layer = layui.layer; //引用jquery模块

		//监听导航点击
		element.on('nav(demo)', function(elem) {
			//console.log(elem)
			layer.msg(elem.text());
		});

		$(".layui-nav-item dd").click(function() {
			$(this).addClass("layui-this");
		})

		$(".StudyFriend_Menu").click(function() {
			var state = null;
			layer.open({
				title : '信息展示',
				content : '发送了请求，此时State为：' + state,
				time : 10 * 1000,
			});
			$.post("SF/searchSelf", {
				op : 1
			}, function(data) {
				if (data == 1) {
					//直接跳转至相关界面
					layer.msg("您的学习小伙伴相关资料已填写完整!!!!", {
						time : 2 * 1000
					});
					state = 1;
				} else {
					//跳转至相关的信息填写界面，让用户完善相关信息
					layer.msg("您的学习小伙伴相关资料未填写完整,为了您和他人良好的用户体验,请您先完善相关信息!!!!");
					$.cookie("url", "HomePage");
					window.location.href = "PageLoad";
				}
			}, "json");
			layer.msg(state);
			if (state == 1) {
				return true;
			}
			return false;
		});
	});
</script>

</head>
<body>

	<ul class="layui-nav">
		<li class="layui-nav-item"><a href="HomePage">首页</a></li>
		<li class="layui-nav-item "><a href="MyFriend">学习小伙伴</a>
			<dl class="layui-nav-child">
				<dd>
					<a class="StudyFriend_Menu" href="MyFriend">我的小伙伴</a>
				</dd>
				<dd>
					<a class="StudyFriend_Menu" href="SearchFriend">寻找小伙伴</a>
				</dd>
			</dl></li>
		<li class="layui-nav-item"><a href="MyShare">经验座谈会</a>
			<dl class="layui-nav-child">
				<dd class="layui-this">
					<a href="MyShare">我的分享</a>
				</dd>
				<dd>
					<a href="ExcellenceShare">优秀分享</a>
				</dd>
			</dl></li>
		<li class="layui-nav-item"><a href="">答疑解惑</a></li>
		<li class="layui-nav-item"><a href="">Flag</a></li>
		<li class="layui-nav-item"><a href="">考试援助</a></li>
		<li class="layui-nav-item"><a href="javascript:void(0);"
			th:text="${session.UserInfo.nickname}"></a>
			<dl class="layui-nav-child">
				<dd>
					<a href="AboutSelf">关于我</a>
				</dd>
				<dd>
					<a href="">我的收藏</a>
				</dd>
				<dd>
					<a href="MyShare">我的分享</a>
				</dd>
				<dd>
					<a href="">我的讨论</a>
				</dd>
			</dl></li>
		<li class="layui-nav-item"><a href="Page/login.html">退出</a></li>
	</ul>


	<div class="line46"></div>
<article>
  <div class="leftbox">
  
    <div class="infos">
    
      <div class="newsview">
        <h2 class="intitle">您现在的位置是：<a href="/">经验分享</a>&nbsp;&gt;&nbsp;<a href="/">好文阅读</a></h2>
        <h3 class="news_title" th:text="${ShareExperienceArticle.experience_title}"></h3>
        <div class="news_author"><span class="au01" th:text="${ShareExperienceArticle.nickname}" ></span><span class="au02" th:text="${ShareExperienceArticle.annoce_time}"></span><span class="au03">共<b>309</b>人围观</span></div>
        <div class="tags"><a href="/" th:text="${ShareExperienceArticle.experiencetype}" ></a></div>
        <div class="news_infos" th:text="${ShareExperienceArticle.experience_content}">
        </div>
      </div>
      
      
      <div class="share">
      <p class="diggit"><a href="JavaScript:makeRequest('/e/public/digg/?classid=3&amp;id=19&amp;dotop=1&amp;doajax=1&amp;ajaxarea=diggnum','EchoReturnedText','GET','');"> 很赞哦！ </a>(<b id="diggnum"><script type="text/javascript" src="/e/public/ViewClick/?classid=2&amp;id=20&amp;down=5"></script>13</b>)</p>
      <p class="dasbox"><a href="javascript:void(0)" onclick="dashangToggle()" class="dashang" title="打赏，支持一下">打赏本站</a></p>
      <div class="hide_box" style="display: none;"></div>
      <div class="shang_box" style="display: none;"> <a class="shang_close" href="javascript:void(0)" onclick="dashangToggle()" title="关闭">关闭</a>
        <div class="shang_tit">
          <p>感谢您的支持，我会继续努力的!</p>
        </div>
        <div class="shang_payimg"> <img src="images/alipayimg.jpg" alt="扫码支持" title="扫一扫"> </div>
        <div class="pay_explain">扫码打赏，你说多少就多少</div>
        <div class="shang_payselect">
          <div class="pay_item checked" data-id="alipay"> <span class="radiobox"></span> <span class="pay_logo"><img src="images/alipay.jpg" alt="支付宝"></span> </div>
          <div class="pay_item" data-id="weipay"> <span class="radiobox"></span> <span class="pay_logo"><img src="images/wechat.jpg" alt="微信"></span> </div>
        </div>
        <script type="text/javascript">
    $(function(){
    	$(".pay_item").click(function(){
    		$(this).addClass('checked').siblings('.pay_item').removeClass('checked');
    		var dataid=$(this).attr('data-id');
    		$(".shang_payimg img").attr("src","images/"+dataid+"img.jpg");
    		$("#shang_pay_txt").text(dataid=="alipay"?"支付宝":"微信");
    	});
    });
    function dashangToggle(){
    	$(".hide_box").fadeToggle();
    	$(".shang_box").fadeToggle();
    }
    </script> 
      </div>
    </div>
    <!--share end-->
    <div class="zsm"><p>打赏本站，你说多少就多少</p><img src="images/zsm.jpg"></div>
    </div>
    
    <div class="nextinfo">
      <p>上一篇：<a href="/" >传微软将把入门级Surface平板价格下调150美元</a></p>
      <p>下一篇：<a href="/">云南之行――大理洱海一日游</a></p>
    </div>
    
    <div class="otherlink">
      <h2>相关文章</h2>
      <ul>
        <li><a href="/" title="云南之行――丽江古镇玉龙雪山">云南之行――丽江古镇玉龙雪山</a></li>
        <li><a href="/" title="云南之行――大理洱海一日游">云南之行――大理洱海一日游</a></li>
        <li><a href="/" target="_blank">住在手机里的朋友</a></li>
        <li><a href="/" target="_blank">豪雅手机正式发布! 在法国全手工打造的奢侈品</a></li>
        <li><a href="/" target="_blank">教你怎样用欠费手机拨打电话</a></li>
        <li><a href="/" target="_blank">原来以为，一个人的勇敢是，删掉他的手机号码...</a></li>
      </ul>
    </div>
    <div class="news_pl">
      <h2>文章评论</h2>
      <ul>
      </ul>
    </div>
  </div>
  
  		<!-- 右侧相关信息展示栏和部分推荐栏 -->
  <div class="rightbox">
    <div class="search">
      <form action="/e/search/index.php" method="post" name="searchform" id="searchform">
        <input name="keyboard" id="keyboard" class="input_text" value="请输入关键字" style="color: rgb(153, 153, 153);" onfocus="if(value=='请输入关键字'){this.style.color='#000';value=''}" onblur="if(value==''){this.style.color='#999';value='请输入关键字'}" type="text">
        <input name="show" value="title" type="hidden">
        <input name="tempid" value="1" type="hidden">
        <input name="tbname" value="news" type="hidden">
        <input name="Submit" class="input_submit" value="搜索" type="submit">
      </form>
    </div>
    
    <div class="paihang">
      <h2 class="ab_title"><a href="/">点击排行</a></h2>
      <ul>
        <li><b><a href="/jstt/css3/2018-03-20/808.html" target="_blank">十条设计原则教你学会如何设计网页布局!...</a></b>
          <p><i><img src="Page/images/b01.png"></i>网页常见的布局有很多种,单列布局,多列布局.其中单列布局是国外很多网站比较常用的.咱们很多站长以及门户...</p>
        </li>
        <li><b><a href="/" target="_blank">教你怎样用欠费手机拨打电话</a></b>
          <p><i><img src="Page/images/b02.jpg"></i>对于刚毕业的学生来说，想学习建网站，掌握一技之长，最简单的入门...</p>
        </li>
        <li><b><a href="/" target="_blank">原来以为，一个人的勇敢是，删掉他的手机号码</a></b>
          <p><i><img src="Page/images/b03.jpg"></i>先前发表过一篇文章《如果要学习web前端开发，需要学习什么？》</p>
        </li>
        <li><b><a href="/" target="_blank">手机的16个惊人小秘密，据说99.999%的人都不知</a></b>
          <p><i><img src="Page/images/b04.jpg"></i>对于刚毕业的学生来说，.需要学习什么？》</p>
        </li>
        <li><b><a href="/" target="_blank">你面对的是生活而不是手机</a></b>
          <p><i><img src="Page/images/b05.jpg"></i>最简单的入门无非就是学会html和css，先前发表过一篇文章...</p>
        </li>
      </ul>
    </div>
    
    
  </div>
  
</article>

<footer>
  <p>Design by <a href="/">天天爱学习</a> </p>
</footer>

</body>
</html>
