<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>天天爱学习网</title>
<meta name="keywords" content="寻找小伙伴" />
<meta name="description" content="寻找小伙伴" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="Page/css/base.css" rel="stylesheet">
<link href="Page/css/index.css" rel="stylesheet">
<link href="Page/css/custom.css" rel="stylesheet">
<link href="Page/css/m.css" rel="stylesheet">

<link href="Page/layui/css/layui.css" rel="stylesheet">
<script type="text/javascript" src="Page/layui/layui.js "></script>

<!--[if lt IE 9]>
<script src="js/modernizr.js" th:inline="none"></script>
<![endif]-->
<script type="text/javascript" src="Page/js/jquery.min.js"></script>

<script type="text/javascript">

window.onload = function ()
{
/* 	var oH2 = document.getElementById("mnavh"); 
 */	var oUl = document.getElementById("starlist");  
	/* oH2.onclick = function ()
	{
		var style = oUl.style;
		style.display = style.display == "block" ? "none" : "block";
		oH2.className = style.display == "block" ? "open" : ""
	} */
}

/* 引入element模块，导航栏二级菜单需要 */
layui.use(['element' , 'jquery' , 'layer'], function(){
	  var element = layui.element;//导航的hover效果、二级菜单等功能，需要依赖element模块
	  var $ = layui.jquery;//引用jquery模块
	  var layer = layui.layer; 
	  
	  //监听导航点击
	  element.on('nav(demo)', function(elem){
	    //console.log(elem)
	    layer.msg(elem.text());
	  });
	  
	  $(".layui-nav-item dd").click(function(){
		  $(this).addClass("layui-this");
	  });
	  
	  $(".StudyFriend_Menu").click(function(){
			 $.post("SF/searchSelf",{op:1},function(data){
				 layer.msg("有返回");
				 if(data == 1){
					//直接跳转至相关界面
					 layer.msg("您的学习小伙伴相关资料已填写完整!!!!");
					return true;
				 }else{
					 //跳转至相关的信息填写界面，让用户完善相关信息
				    layer.msg("您的学习小伙伴相关资料未填写完整,为了您和他人良好的用户体验,请您先完善相关信息!!!!");
					window.location.href="PageLoad";
				 }
			 },"json");
		   	 return false;
		  });
	});
</script>

</head>
<body>

	<ul class="layui-nav">
		<li class="layui-nav-item"><a href="HomePage">首页</a></li>
		<li class="layui-nav-item"><a href="StudyFriend">学习小伙伴</a>
			<dl class="layui-nav-child">
				<dd>
					<a class="StudyFriend_Menu" href="MyFriend">我的小伙伴</a>
				</dd>
				<dd class="layui-this">
					<a class="StudyFriend_Menu layui-this" href="SearchFriend">寻找小伙伴</a>
				</dd>
			</dl></li>
		<li class="layui-nav-item"><a href="">经验座谈会</a>
			<dl class="layui-nav-child">
				<dd>
					<a href="">我的分享</a>
				</dd>
				<dd>
					<a href="">优秀分享</a>
				</dd>
			</dl></li>
		<li class="layui-nav-item"><a href="">答疑解惑</a></li>
		<li class="layui-nav-item"><a href="">Flag</a></li>
		<li class="layui-nav-item"><a href="">考试援助</a></li>
		<li class="layui-nav-item"><a href="javascript:void(0);"
			th:text="${session.UserInfo.nickname}"></a>
			<dl class="layui-nav-child">
				<dd>
					<a href="AboutSelf">关于我</a>
				</dd>
				<dd>
					<a href="">我的收藏</a>
				</dd>
				<dd>
					<a href="">我的分享</a>
				</dd>
				<dd>
					<a href="">我的讨论</a>
				</dd>
			</dl></li>
		<li class="layui-nav-item"><a href="Page/login.html">退出</a></li>
	</ul>

	<div class="line46"></div>
	<div class="blank"></div>

	<article>

		<div class="leftbox">
			<div class="tuijian">
				<h2 class="hometitle">
					<span><a href="/">有我作伴</a><a href="/">快乐学习</a><a href="/">共同进步</a><a
						href="/">学无止境</a></span>小伙伴推荐
				</h2>

				<ul>

					<li><span>Xsj</span> <b>如何成为一个编程高手</b><span>想要成为一个编程高手就必须要勤动手，多思考，多做少看...</span><a
						href="/" class="readmore">查看他的个人主页</a></li>
					<li><span>Xsj</span> <b>如何成为一个编程高手</b><span>想要成为一个编程高手就必须要勤动手，多思考，多做少看...</span><a
						href="/" class="readmore">查看他的个人主页</a></li>
					<li><span>Xsj</span> <b>如何成为一个编程高手</b><span>想要成为一个编程高手就必须要勤动手，多思考，多做少看...</span><a
						href="/" class="readmore">查看他的个人主页</a></li>
					<li><span>Xsj</span> <b>如何成为一个编程高手</b><span>想要成为一个编程高手就必须要勤动手，多思考，多做少看...</span><a
						href="/" class="readmore">查看他的个人主页</a></li>
					<li><span>Xsj</span> <b>如何成为一个编程高手</b><span>想要成为一个编程高手就必须要勤动手，多思考，多做少看...</span><a
						href="/" class="readmore">查看他的个人主页</a></li>
					<li><span>Xsj</span> <b>如何成为一个编程高手</b><span>想要成为一个编程高手就必须要勤动手，多思考，多做少看...</span><a
						href="/" class="readmore">查看他的个人主页</a></li>
					<li><span>Xsj</span> <b>如何成为一个编程高手</b><span>想要成为一个编程高手就必须要勤动手，多思考，多做少看...</span><a
						href="/" class="readmore">查看他的个人主页</a></li>
					<li><span>Xsj</span> <b>如何成为一个编程高手</b><span>想要成为一个编程高手就必须要勤动手，多思考，多做少看...</span><a
						href="/" class="readmore">查看他的个人主页</a></li>

					<!-- <li>
          <div class="tpic"><img src="Page/images/b02.jpg"></div>
          <b>作为一个设计师,如果遭到质疑你是否能恪守自己的原则</b><span>就拿我自己来说吧，有时候会很矛盾，设计好的作品，不把它分享出来，会觉得待在自己电脑里面实在是没有意义...</span><a href="/" class="readmore">阅读原文</a></li>
		 -->
				</ul>

				<!-- 分页 -->
				<div class="pagelist">
					<a title="Total record">&nbsp;<b>142</b>
					</a>&nbsp;&nbsp;<a href="/jstt/index.html">首页</a>&nbsp;<a
						href="/jstt/index.html">上一页</a>&nbsp;<a href="/jstt/index.html">1</a>&nbsp;<b>2</b>&nbsp;<a
						href="/jstt/index_3.html">3</a>&nbsp;<a href="/jstt/index_4.html">4</a>&nbsp;<a
						href="/jstt/index_5.html">5</a>&nbsp;<a href="/jstt/index_6.html">6</a>&nbsp;<a
						href="/jstt/index_3.html">下一页</a>&nbsp;<a
						href="/jstt/index_6.html">尾页</a>
				</div>

			</div>


		</div>

		<!-- 右侧通知栏 -->
		<div class="rightbox">
			<div class="search">
				<form action="/e/search/index.php" method="post" name="searchform"
					id="searchform">
					<input name="keyboard" id="keyboard" class="input_text"
						value="请输入关键字" style="color: rgb(153, 153, 153);"
						onfocus="if(value=='请输入关键字'){this.style.color='#000';value=''}"
						onblur="if(value==''){this.style.color='#999';value='请输入关键字'}"
						type="text"> <input name="show" value="title"
						type="hidden"> <input name="tempid" value="1"
						type="hidden"> <input name="tbname" value="news"
						type="hidden"> <input name="Submit" class="input_submit"
						value="搜索" type="submit">
				</form>
			</div>
			<div class="paihang">
				<h2 class="ab_title">
					<a href="/">点击排行</a>
				</h2>
				<ul>
					<li><b><a href="/jstt/css3/2018-03-20/808.html"
							target="_blank">十条设计原则教你学会如何设计网页布局!...</a></b>
						<p>
							<i><img src="Page/images/b01.png"></i>网页常见的布局有很多种,单列布局,多列布局.其中单列布局是国外很多网站比较常用的.咱们很多站长以及门户...
						</p></li>
					<li><b><a href="/" target="_blank">教你怎样用欠费手机拨打电话</a></b>
						<p>
							<i><img src="Page/images/b02.jpg"></i>对于刚毕业的学生来说，想学习建网站，掌握一技之长，最简单的入门...
						</p></li>
					<li><b><a href="/" target="_blank">原来以为，一个人的勇敢是，删掉他的手机号码</a></b>
						<p>
							<i><img src="Page/images/b03.jpg"></i>先前发表过一篇文章《如果要学习web前端开发，需要学习什么？》
						</p></li>
					<li><b><a href="/" target="_blank">手机的16个惊人小秘密，据说99.999%的人都不知</a></b>
						<p>
							<i><img src="Page/images/b04.jpg"></i>对于刚毕业的学生来说，.需要学习什么？》
						</p></li>
					<li><b><a href="/" target="_blank">你面对的是生活而不是手机</a></b>
						<p>
							<i><img src="Page/images/b05.jpg"></i>最简单的入门无非就是学会html和css，先前发表过一篇文章...
						</p></li>
				</ul>
			</div>
			<div class="links">
				<h2 class="ab_title">友情链接</h2>
				<ul>
					<li><a href="/">杨青个人博客</a></li>
					<li><a href="/">个人博客模板</a></li>
					<li><a href="/">优秀个人博客</a></li>
				</ul>
			</div>
			<div class="weixin">
				<h2 class="ab_title">微信关注</h2>
				<ul>
					<img src="Page/images/wx.jpg">
				</ul>
			</div>
		</div>
	</article>
	<footer>
		<p>
			Design by <a href="/">天天爱学习</a>
		</p>
	</footer>
</body>
</html>
