<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
     PUBLIC "-//mybatis.orc//DTD Mapper 3.0//EN"
     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
     
<mapper namespace="com.self_study.mapper.IStudyFriendMapper">

	<select id="selectByUserId"  resultType="FriendInfoBean" parameterType="UserInfoBean">
		select id,userid,targetcontent,current_state,target_description from friend,target where friend.targetid = target.targetid and target.state =1 and userid = #{userid};
	</select> 
	 
	<insert id="addFriendInfo" parameterType="FriendBean">
		 insert into friend values( #{id} , #{userid}  , #{targetid},  #{current_state}, #{target_description});
	</insert>
	
	<update id="updataFriendInfo" parameterType="FriendBean">
		update friend set targetid= #{targetid},current_state= #{current_state},target_description= #{target_description} where userid = #{userid} ;
	</update>
	
	
   
</mapper>