<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
     PUBLIC "-//mybatis.orc//DTD Mapper 3.0//EN"
     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
     
<mapper namespace="com.self_study.mapper.IStudyFriendMapper">

	<select id="selectByUserId"  resultType="FriendBean" parameterType="UserInfoBean">
		select id,userid,targetcontent,current_state,target_description from friend,target where friend.targetid = target.targetid and target.state =1 and userid = #{userid};
	</select>
	
   
</mapper>